<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfDisplay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfDisplay.Properties.Settings>
            <setting name="AuthorName" serializeAs="String">
                <value>Unknown Artist</value>
            </setting>
            <setting name="AuthorLink" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="ApplyWatermark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkgroupCount" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="NotifyRenderFinished" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetFramerate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PerceptuallyUniformUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InvertAxisY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sensitivity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FavoriteTranforms" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Affine</string>
                        <string>Spherical</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ResolutionPresets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>1280x720</string>
                        <string>1080x1080</string>
                        <string>1920x1080</string>
                        <string>3840x2160</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UseWhiteForBlankParams" serializeAs="String">
                <value>False</value>
            </setting>
        </WpfDisplay.Properties.Settings>
    </userSettings>
</configuration>