<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cloo.clSharp" version="1.0.0" targetFramework="net471" />
  <package id="OpenGL.Net" version="0.8.4" targetFramework="net471" />
  <package id="OpenGL.Net.WinForms" version="0.8.4" targetFramework="net471" />
  <package id="OpenTK" version="3.0.1" targetFramework="net471" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net471" />
</packages>