name: CI

on:
  pull_request:

jobs:
  CheckFormatting:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
      
      - name: Install .NET Core
        uses: actions/setup-dotnet@v1

      - name: Install Tools
        run: dotnet tool restore

      - name: Check formatting
        run: dotnet dotnet-format --check

  Build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Install .NET Core
        uses: actions/setup-dotnet@v1

      - name: Build
        run: dotnet build
